<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <div class="form-group">
        <%= form_with model: @user do |f| %>
        <label for="user_name">Name</label>
        <div class="form-group">
        <%= f.text_field :name, id: "user_name", class: "form-control name"%><!-- :user[name]に変えたい -->
        </div>
        <div class="form-group">
        <label for="inputImage">Image</label>
        <%= f.file_field :user, accept: "image/*", id: "user_profile_image", class: "form-control-file user_image" %><!-- :name[profile_image]に変えたい -->
        </div>
        <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <%= f.text_area :user, id: "user_introduction", class: "form-control introduction"%>
        </div>
        <div class="form-group">
        <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





  
    
  



